In [2]:
import pandas as pd

In [3]:
import os 
work_path = os.getcwd() 
raw_path = work_path + "\\raw"
processed_path = work_path + "\\processed"

In [10]:
df_raw = pd.read_csv(raw_path+"\\adult_data.txt", header=None, names=['Age', 'Workclass', 'Fnlwgt', 'Education', 'Education num', 'Marital Status',
                                                                      'Occupation', 'Relationship', 'Race', 'Sex', 'Capital Gain', 'capital loss',
                                                                      'Hour per week',
                                                                      'Native country', 'income'])
df_raw

,Age,Workclass,Fnlwgt,Education,Education num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,capital loss,Hour per week,Native country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
df_raw['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [12]:
df_raw.to_csv(processed_path+"\\adult_income_data.csv", header=True, index=None)